.manage-schedule-container {
    .m-s-title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 17px;
        text-align: center;
        margin: 15px 0;
        color: rgb(61, 61, 255);
    }
    .pick-hour-container {
        border: 1px solid rgb(177, 177, 177);
    }
}