.manage-specialty-container {
    .ms-title {
        text-transform: uppercase;
        color: rgb(68, 68, 255);
        text-align: center;
        font-weight: bold;
        margin-top: 15px;
        font-size: 17px;
    }
    .add-new-specialty {}
}