//reset slick slider css
.slick-prev {
    left: -20px !important;
    z-index: 1000;
    height: 48px !important;
    width: 44px !important;
    border: 2px solid #d7d7d7 !important;
    background: white !important;
    &:hover {
        background: #eceaea !important;
    }
}

.slick-prev:before,
.slick-next:before {
    font-family: 'Glyphicons Halflings' !important;
    color: red !important;
}

.slick-next {
    border: 2px solid #d7d7d7 !important;
    background: white !important;
    right: -15px !important;
    height: 48px !important;
    width: 44px !important;
    &:hover {
        background: #eceaea !important;
    }
}